{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Whacky Widgets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>Whacky Widgets</h1>

    {% if widget_list|length == 0 %}
    <h3>No Widgets Exist</h3>
    <hr>
    {% else %}

    <table>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>

        <tr>
            {% for widget in widget_list%}

            <td>{{widget.description}}</td>
            <td>{{widget.quantity}}</td>

            <td><a href="{% url 'widget_delete' widget.id %}">X</a></td>
        </tr>
        {% endfor %}

    </table>
    <h3>Add Widget</h3>

    <form action="{% url 'add_widget'%}" method="post">
        {% csrf_token %}
        {{ widgets_form.as_p }}
        <input type="submit" class="btn" value="Add Widget">
    </form>

    {% block content %}
    {% endblock %}
</body>

</html>